@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The information and images below are available in this CRUD API's Entity Framework database.</p>
    <p>Base64 encoding for the first one would be <a target="_blank" href="http://localhost:7218/api/Photos/1">http://localhost:7218/api/Photos/1</a> for example</p>
    <p>A list of all distillery addresses (currently 2 in database) is returned by <a target="_blank" href="http://localhost:7218/api/Addresses">http://localhost:7218/api/Addresses</a></p>
    <p>To get a list of all companies (currently 2 in database) who own distilleries in Kentucky, the API endpoint is <a target="_blank" href="http://localhost:7218/api/Owners">http://localhost:7218/api/Owners</a></p>
    <p>To use the Swashbuckle UI for basic CRUD operations, check out <a target="_blank" href="http://localhost:7218/swagger/index.html">http://localhost:7218/swagger/index.html</a></p>
</div>

@inject StillsApp.BL.IDistilleryService distilleryService

<center><h3>Kentucky Bourbon Distillery Photos</h3><hr />
<p><img src="data:image/jpeg;base64,@distilleryService.GetPhoto(1)" alt="Image with ID number 1" /></p>
<p><img src="data:image/jpeg;base64,@distilleryService.GetPhoto(2)" alt="Image with ID number 2" /></p>
<p><img src="data:image/jpeg;base64,@distilleryService.GetPhoto(3)" alt="Image with ID number 3" /></p>
<p><img src="data:image/jpeg;base64,@distilleryService.GetPhoto(4)" alt="Image with ID number 4" /></p>
<p><img src="data:image/jpeg;base64,@distilleryService.GetPhoto(5)" alt="Image with ID number 5" /></p>
<p><img src="data:image/jpeg;base64,@distilleryService.GetPhoto(6)" alt="Image with ID number 6" /></p>
<p><img src="data:image/jpeg;base64,@distilleryService.GetPhoto(7)" alt="Image with ID number 7" /></p>
</center>